{
  "env": {
    "es6": true,
    "jest": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "extends": ["eslint:recommended", "prettier"],
  "rules": {
    "no-console": "off",
    "no-unused-vars": ["error", { "ignoreRestSiblings": true }]
  }
}
